/* Fonts */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'DM Sans', sans-serif; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    background-image: url('Images/hero background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: none;
    max-width: max-content;
}

/* Custom Cursor */
.cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}
  
.outer {
    height: 75px;
    width: 75px;
    border: 2px solid #f7f7f770;
    z-index: 2;
}
  
.inner {
    background: #e7e7e782;
    transition: 250ms ease-out;
    z-index: 2;
}
  
.cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 250ms ease-in-out;
    z-index: 2;
}
  
.inner.hover {
    background: #f7f7f7;
    mix-blend-mode: color-burn;
    z-index: 2;
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: large;
    color: aliceblue;
    background-color: rgba(10, 10, 10, 0.543);
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    backdrop-filter: blur(7px);
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    cursor: none;
    border-radius: 30px;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

li:hover{
    background-color: aliceblue;
    color: #2b2b2b;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Hero Section */
.container1-text-title{
    font-size: 50px;
    text-align: center;

}

.description-paragraph{
    line-height: 1.5;
}

.container1-text-description{
    font-size: 20px;
    text-align: center;
    padding: 0px 50px 0px 50px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.container1-hero-section{
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1-text{
    color: aliceblue;
    padding: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-button{
    background-color: #e7e7e7;
    color: #2b2b2b;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.custom-button:hover {
    background-color: #303030;
    color: aliceblue;
}


/* About Us */
.container2-about-us {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    border-radius: 30px 30px 0px 0px;
    backdrop-filter: blur(10px);
    color: aliceblue;
    text-align: center;
}

.about-us-description{
    width: 50%;
    padding: 10px 50px 10px 50px;
}

.about-us-uvp{
    width: 50%;
}

.uvp-one,
.uvp-two,
.uvp-three{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(0%);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    backdrop-filter: blur(7px);
    transition: all 0.3s;
    height: 125px;
    position: relative;
}

.uvp-one{
    background-image: url('Images/expertise.jpg'); 
    margin: 50px 50px 10px 10px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px;
}

.uvp-two{
    background-image: url('Images/passion.jpg'); 
    margin: 10px 50px 10px 10px;
    border-radius: 0px;
    box-shadow: 0px;
}

.uvp-three{
    background-image: url('Images/personalization.jpg'); 
    background-position: center;
    margin: 10px 50px 50px 10px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px;
}

.description-title{
    font-size: 50px;
}

.uvp-one:hover,
.uvp-two:hover,
.uvp-three:hover{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(100%);
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 5px 5px 16px 0 #2b2b2b;
}

.uvp-one:hover {
    background-image: url('Images/expertise.jpg'); 
}

.uvp-two:hover {
    background-image: url('Images/passion.jpg'); 
}

.uvp-three:hover {
    background-image: url('Images/personalization.jpg'); 
    background-position: center; 
}

.uvp-description {
    display: none;
    color: aliceblue;
    padding: 2vh;
}

.uvp-one:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-one:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-two:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-two:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-three:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-three:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-one::before,
.uvp-two::before,
.uvp-three::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

.uvp-one::before{
    border-radius: 30px 30px 0px 0px; 
}

.uvp-two::before{
    border-radius: 0px; 
}

.uvp-three::before {
    border-radius: 0px 0px 30px 30px; 
}


/* Destination */
.destination-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
}

.destination-gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.destination-container-title{
    font-size: 50px;
}

.destination-one,
.destination-two,
.destination-three,
.destination-four,
.destination-five,
.destination-six,
.destination-seven,
.destination-eight{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding: 30px;
    border-radius: 10px; 
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 25%;
    transition: all 0.3s;
    cursor: none;
}

.destination-one{
    background-image: url('Images/bali.jpg'); 
}

.destination-two{
    background-image: url('Images/lombok.jpg'); 
}

.destination-three{
    background-image: url('Images/raja-ampat.jpg'); 
}

.destination-four{
    background-image: url('Images/bunaken.jpg'); 
}

.destination-five{
    background-image: url('Images/bromo.jpg'); 
}

.destination-six{
    background-image: url('Images/gili-trawangan.jpg'); 
}

.destination-seven{
    background-image: url('Images/komodo-island.jpg'); 
}

.destination-eight{
    background-image: url('Images/pangandaran.jpg'); 
}

.destination-one:hover,
.destination-two:hover,
.destination-three:hover,
.destination-four:hover,
.destination-five:hover,
.destination-six:hover,
.destination-seven:hover,
.destination-eight:hover{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: grayscale(0%);
    color: aliceblue;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    z-index: 1;
}

.destination-one:hover {
    background-image: url('Images/bali.jpg'); 
}

.destination-two:hover {
    background-image: url('Images/lombok.jpg'); 
}

.destination-three:hover {
    background-image: url('Images/raja-ampat.jpg'); 
}

.destination-four:hover {
    background-image: url('Images/bunaken.jpg'); 
}

.destination-five:hover {
    background-image: url('Images/bromo.jpg'); 
}

.destination-six:hover {
    background-image: url('Images/gili-trawangan.jpg'); 
}

.destination-seven:hover {
    background-image: url('Images/komodo-island.jpg'); 
}

.destination-eight:hover {
    background-image: url('Images/pangandaran.jpg'); 
}

.destination-one::before,
.destination-two::before,
.destination-three::before,
.destination-four::before,
.destination-five::before,
.destination-six::before,
.destination-seven::before,
.destination-eight::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.263); 
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px; 
    z-index: -1; 
}

/* Testimonials */
.testimonials-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
}

.profile-picture-one,
.profile-picture-two,
.profile-picture-three{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.profile-picture-one{
    background-image: url('Images/Amelia.jpg'); 
}

.profile-picture-two{
    background-image: url('Images/Jason.jpg'); 
}

.profile-picture-three{
    background-image: url('Images/Sarah.jpg');  
}

.testimonials-one,
.testimonials-two,
.testimonials-three{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    line-height: 1.5;
    padding: 30px;
    border-radius: 30px; 
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 25%;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials-one{
    background-image: url('Images/amelia-testimony.jpg'); 
}

.testimonials-two{
    background-image: url('Images/jason-testimony.jpg'); 
}

.testimonials-three{
    background-image: url('Images/sarah-testimony.jpg'); 
}

.testimonials-one:hover,
.testimonials-two:hover,
.testimonials-three:hover{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: aliceblue;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.testimonials-one:hover {
    background-image: url('Images/amelia-testimony.jpg'); 
}

.testimonials-two:hover {
    background-image: url('Images/jason-testimony.jpg'); 
}

.testimonials-three:hover {
    background-image: url('Images/sarah-testimony.jpg'); 
}

.testimonials-one::before,
.testimonials-two::before,
.testimonials-three::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.263); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; 
    z-index: -1; 
}

/* Contact Us */
.contact-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.contact-us-title{
    font-size: 50px;
    margin-bottom: -5px;
}

.contact-us-title-description{
    margin-bottom: -20px;
}

.contact-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.contact-address,
.contact-email,
.contact-phone{
    background-color: #414141;
    color: aliceblue;
    border-radius: 10px; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
    height: 100px;
    width: 1000px;
    transition: all 0.3s;
}

.contact-address:hover,
.contact-email:hover,
.contact-phone:hover{
    background-color: aliceblue;
    color: #414141;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 1;
}

.contact-details {
    text-align: left;
    width: 40%;
}

.contact-details h3 {
    margin: 5px 0;
}

.contact-description{
    font-size: 1.5rem;
}

/*
.contact-form {
    text-align: left;
    width: 50%;
}

form{
    background-color: #414141;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-image{
    background-image: url('Images/jason-testimony.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.form-group{
    margin: 10px 10px 10px 10px;
    width: 94%;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #959595;
    border-radius: 5px;
}

button {
    background-color: #dedede;
    color: #363636;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #363636;
    color: aliceblue;
}
*/

/* Aside */
#sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: auto;
    z-index: 1;
}

#timeline {
    background: #414141;
    border-radius: 50px;
    padding: 10px;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    margin: 10px 0;
    transition: background 0.3s;
}

.dot.active {
    background: #00fffbe0;
}

.dot:hover {
    background: #00fffbe0; /* Green color */
}

/* Footer */
.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding:50px 0px 50px 0px;
}

.logo{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

/* Media Query */
@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }

    .mobile-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust this to control the menu's vertical position */
        right: 10px; /* Adjust this to control the menu's horizontal position */
        background-color: #2b2b2b;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        transform: translateX(100%);
    }

    .mobile-nav.show {
        transform: translateX(0);
    }

    .mobile-nav li {
        padding: 15px;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }
}

/* Hide the hamburger menu for screens wider than 768px */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}
