/* Fonts */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'DM Sans', sans-serif; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    background-image: url('Images/hero background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: none;
    max-width: max-content;
    overflow-x:hidden;

}

/* Custom Cursor */
.cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}
  
.outer {
    height: 75px;
    width: 75px;
    border: 2px solid #f7f7f770;
    z-index: 2;
}
  
.inner {
    background: #e7e7e782;
    transition: 250ms ease-out;
    z-index: 2;
}
  
.cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 250ms ease-in-out;
    z-index: 2;
}
  
.inner.hover {
    background: #f7f7f7;
    mix-blend-mode: color-burn;
    z-index: 2;
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: large;
    color: aliceblue;
    background-color: rgba(10, 10, 10, 0.543);
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    backdrop-filter: blur(7px);
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    cursor: none;
    border-radius: 30px;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

li:hover{
    background-color: aliceblue;
    color: #2b2b2b;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Hero Section */
.container1-text-title{
    font-size: 50px;
    text-align: center;

}

.description-paragraph{
    line-height: 1.5;
}

.container1-text-description{
    font-size: 20px;
    text-align: center;
    padding: 0px 50px 0px 50px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.container1-hero-section{
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container1-text{
    color: aliceblue;
    padding: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-button{
    background-color: #e7e7e7;
    color: #2b2b2b;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.custom-button:hover {
    background-color: #303030;
    color: aliceblue;
}


/* About Us */
.container2-about-us {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    border-radius: 30px 30px 0px 0px;
    backdrop-filter: blur(10px);
    color: aliceblue;
    text-align: center;
}

.about-us-description{
    width: 50%;
    padding: 10px 50px 10px 50px;
}

.about-us-uvp{
    width: 50%;
}

.uvp-one,
.uvp-two,
.uvp-three{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(0%);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    backdrop-filter: blur(7px);
    transition: all 0.3s;
    height: 125px;
    position: relative;
}

.uvp-one{
    background-image: url('Images/expertise.jpg'); 
    margin: 50px 50px 10px 10px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px;
}

.uvp-two{
    background-image: url('Images/passion.jpg'); 
    margin: 10px 50px 10px 10px;
    border-radius: 0px;
    box-shadow: 0px;
}

.uvp-three{
    background-image: url('Images/personalization.jpg'); 
    background-position: center;
    margin: 10px 50px 50px 10px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px;
}

.description-title{
    font-size: 50px;
}

.uvp-one:hover,
.uvp-two:hover,
.uvp-three:hover{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(100%);
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 5px 5px 16px 0 #2b2b2b;
}

.uvp-one:hover {
    background-image: url('Images/expertise.jpg'); 
}

.uvp-two:hover {
    background-image: url('Images/passion.jpg'); 
}

.uvp-three:hover {
    background-image: url('Images/personalization.jpg'); 
    background-position: center; 
}

.uvp-description {
    display: none;
    color: aliceblue;
    padding: 2vh;
}

.uvp-one:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-one:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-two:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-two:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-three:hover .uvp-title {
    display: none;
    transform: scale(1.1);
}

.uvp-three:hover .uvp-description{
    display: flex;
    justify-self: center;
    align-items: center;
}

.uvp-one::before,
.uvp-two::before,
.uvp-three::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

.uvp-one::before{
    border-radius: 30px 30px 0px 0px; 
}

.uvp-two::before{
    border-radius: 0px; 
}

.uvp-three::before {
    border-radius: 0px 0px 30px 30px; 
}


/* Destination */
.destination-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px); 
    color: aliceblue;
    text-align: center;
}

.destination-gallery-container::-webkit-scrollbar {
    display: none;
}

.destination-gallery-container{
    padding: 0 5% 0 5%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.destination-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.destination-container-title{
    font-size: 50px;
}

.destination-one,
.destination-two,
.destination-three,
.destination-four,
.destination-five,
.destination-six,
.destination-seven,
.destination-eight{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding: 30px;
    border-radius: 10px; 
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 230px;
    transition: all 0.3s;
    cursor: none;
}

.destination-one{
    background-image: url('Images/bali.jpg'); 
}

.destination-two{
    background-image: url('Images/lombok.jpg'); 
}

.destination-three{
    background-image: url('Images/raja-ampat.jpg'); 
}

.destination-four{
    background-image: url('Images/bunaken.jpg'); 
}

.destination-five{
    background-image: url('Images/bromo.jpg'); 
}

.destination-six{
    background-image: url('Images/gili-trawangan.jpg'); 
}

.destination-seven{
    background-image: url('Images/komodo-island.jpg'); 
}

.destination-eight{
    background-image: url('Images/pangandaran.jpg'); 
}

.destination-one:hover,
.destination-two:hover,
.destination-three:hover,
.destination-four:hover,
.destination-five:hover,
.destination-six:hover,
.destination-seven:hover,
.destination-eight:hover{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: grayscale(0%);
    color: aliceblue;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    z-index: 1;
}

.destination-one:hover {
    background-image: url('Images/bali.jpg'); 
}

.destination-two:hover {
    background-image: url('Images/lombok.jpg'); 
}

.destination-three:hover {
    background-image: url('Images/raja-ampat.jpg'); 
}

.destination-four:hover {
    background-image: url('Images/bunaken.jpg'); 
}

.destination-five:hover {
    background-image: url('Images/bromo.jpg'); 
}

.destination-six:hover {
    background-image: url('Images/gili-trawangan.jpg'); 
}

.destination-seven:hover {
    background-image: url('Images/komodo-island.jpg'); 
}

.destination-eight:hover {
    background-image: url('Images/pangandaran.jpg'); 
}

.destination-one::before,
.destination-two::before,
.destination-three::before,
.destination-four::before,
.destination-five::before,
.destination-six::before,
.destination-seven::before,
.destination-eight::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.263); 
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px; 
    z-index: -1; 
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 2vw;
  height: 130%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: none;
  z-index: 8;
  margin: 0 3% 0 3%;
}

.pre-btn {
    left: 0;
}
  
.nxt-btn {
    right: 0;
}
  
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
    width: 10vh;
}
  
.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/* Testimonials */
.testimonials-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
}

.testimonials-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.profile-picture-one,
.profile-picture-two,
.profile-picture-three{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.profile-picture-one{
    background-image: url('Images/Amelia.jpg'); 
}

.profile-picture-two{
    background-image: url('Images/Jason.jpg'); 
}

.profile-picture-three{
    background-image: url('Images/Sarah.jpg');  
}

.testimonials-one,
.testimonials-two,
.testimonials-three{
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    line-height: 1.5;
    padding: 30px;
    border-radius: 30px; 
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 25%;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials-one{
    background-image: url('Images/amelia-testimony.jpg'); 
}

.testimonials-two{
    background-image: url('Images/jason-testimony.jpg'); 
}

.testimonials-three{
    background-image: url('Images/sarah-testimony.jpg'); 
}

.testimonials-one:hover,
.testimonials-two:hover,
.testimonials-three:hover{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: aliceblue;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.testimonials-one:hover {
    background-image: url('Images/amelia-testimony.jpg'); 
}

.testimonials-two:hover {
    background-image: url('Images/jason-testimony.jpg'); 
}

.testimonials-three:hover {
    background-image: url('Images/sarah-testimony.jpg'); 
}

.testimonials-one::before,
.testimonials-two::before,
.testimonials-three::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.263); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; 
    z-index: -1; 
}

/* Contact Us */
.contact-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.contact-us-title{
    font-size: 50px;
    margin-bottom: -5px;
}

.contact-us-title-description{
    margin-bottom: -20px;
}

.contact-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.contact-address,
.contact-email,
.contact-phone{
    background-color: #414141;
    color: aliceblue;
    border-radius: 10px; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
    height: 100px;
    width: 100vh;
    transition: all 0.3s;
}

.contact-address:hover,
.contact-email:hover,
.contact-phone:hover{
    background-color: aliceblue;
    color: #414141;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 1;
}

.contact-details {
    text-align: left;
    width: 40%;
}

.contact-details h3 {
    margin: 5px 0;
}

.contact-description{
    font-size: 3vh;
}

/* Aside */
#sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: auto;
    z-index: 1;
}

#timeline {
    background: #414141;
    border-radius: 50px;
    padding: 10px;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    margin: 10px 0;
    transition: background 0.3s;
}

.dot.active {
    background: #00fffbe0;
}

.dot:hover {
    background: #00fffbe0; /* Green color */
}

aside {
    width: 20%;
}

/* Footer */
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.562);
    backdrop-filter: blur(7px);
    color: aliceblue;
    text-align: center;
    padding:50px 0px 50px 0px;
}

.logo{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

/* Media Query */
@media (max-width: 768px) {
    /* Hamburger Menu */
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 7%;
        background-color: #303030;
        border-bottom: 1px solid #e7e7e7;
        border-radius: 0px 0px 30px 30px;
        position: fixed;
        width: 86%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-logo{
        display: flex;
        align-items: start;
        justify-content: flex-end;
    }
    
    .hamburger{
        display: flex;
        flex-direction: column;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        border-radius: 30px;
    }

    .mobile-nav {
        list-style: none;
        padding: 30px 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px; /* Adjust this to control the menu's vertical position */
        right: 0px;
        background-color: #e1e1e1;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        transform: translateX(100%);
    }

    .mobile-nav.show {
        transform: translateX(0);
    }

    .mobile-nav li {
        padding: 15px;
        text-align: center;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #353535;
        font-size: 18px;
        
    }

    /* Navbar */
    .navbar{
        display: none;
    }

    /* Hero Section */
    .container1-hero-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:1%;
        margin-right: 10%;
        margin-top: 10%;
        width: 98%;
        height: 20%;
        box-sizing: border-box;
    }

    .container1-text{
        padding: 25% 10% 25% 10%;
    }

    .container1-text-title{
        font-size: 6vh;
    }

    .container1-text-description{
        font-size: 2.5vh;
    }

    aside{
        display: none;
    }

    /* About Us Section */
    .container2-about-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(37, 37, 37, 0.562);
        border-radius: 30px 30px 0px 0px;
        backdrop-filter: blur(10px);
        color: aliceblue;
        text-align: center;
    }

    .about-us-description{
        width: 90%;
        padding: 10% 20% 1% 20%;
    }

    .about-us-uvp{
        width: 90%;
    }
    
    .about-us-uvp{
        margin-top: 8%;
        margin-bottom: 15%;
    }

    .uvp-one,
    .uvp-two,
    .uvp-three{
        margin: 0 0 2% 0;
    }

    /* Footer */
    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(37, 37, 37, 0.562);
        backdrop-filter: blur(7px);
        color: aliceblue;
        text-align: center;
        padding:50px 0px 50px 0px;
    }

    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(37, 37, 37, 0.562);
        backdrop-filter: blur(7px);
        color: aliceblue;
        text-align: center;
        padding:50px 0px 50px 0px;
    }

    .footer-directory{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social-media{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-directory ul li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10% 0 10% 0;
    }

    .footer-social-media ul li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10% 0 10% 0;
    }

}

/* Hanya untuk contact us karena waktu <1000px sudah mau out of bound */
@media (max-width: 1000px) {
    .testimonials-gallery{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 30px;
    }

    .testimonials-one,
    .testimonials-two,
    .testimonials-three{
        background-size: cover; 
        background-position: bottom; 
        background-repeat: no-repeat;
        line-height: 1.5;
        padding: 30px;
        border-radius: 30px; 
        position: relative;
        overflow: hidden;
        height: 90%;
        width: 90%;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-address,
    .contact-email,
    .contact-phone{
        background-color: #414141;
        color: aliceblue;
        border-radius: 10px; 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        overflow: hidden;
        height: 100px;
        width: 80%;
        transition: all 0.3s;
    }
    
    .contact-us-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 30px;
        margin-right: 10%;
        margin-left: 10%;
        width: 90%;
    }
    
    .contact-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 15px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
    
}
